<!DOCTYPE html>
<html>
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <a href="/produtos/novo">Adicionar Novo Produto</a>
    <ul>
        <% produtos.forEach(function(produto) { %>
            <li>
                <%= produto.nome_produto %> - R$<%= produto.preco_atual %>
                <a href="/produtos/editar/<%= produto.id %>">Editar</a>
                <form action="/produtos/deletar/<%= produto.id %>" method="POST" style="display:inline">
                    <button type="submit">Deletar</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
